.grid-newspaper {
    max-width: 1300px;
    width: 100%;
    margin: 80px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 50px);
}
/* % 5 6 */
.grid-text {
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.421);
    /* background: pink; */
}
.grid-img-1 {
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid-text-1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 9;
}
.grid-text-2 {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 7;
}
.grid-img-2 {
    grid-row-start: 4;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: 9;
}
.grid-text-3 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 7;
    /* align-self: anchor-center; */
}
.grid-text-4 {
    grid-row-start: 11;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-img-3 {
    grid-row-start: 12;
    grid-row-end: 17;
    grid-column-start: 4;
    grid-column-end: 7;
    margin-left: -90px;
}
.grid-text-5 {
    grid-row-start: 11;
    grid-row-end: 17;
    grid-column-start: 7;
    grid-column-end: 9;
    margin-top: -20px;
}

@media (max-width: 968px) {
    .grid-img-1 {
        /* grid-row-start: 11; */
        grid-row-end: 6;
        /* grid-column-start: 7; */
        grid-column-end: 3;
        height: 400px;
        margin-top: 20px;
    }
    .grid-text-1 {
        grid-column-start: 3;
    }
    .grid-text-2 {
        margin: 0;
        grid-column-start: 3;
    }
    /* .grid-img-2 {
        margin-top: 20px;
    } */
    .grid-text-3 {
        grid-row-start: 8;
        grid-row-end: 10;
        /* grid-column-start: 7; */
        /* grid-column-end: 3; */
    }
    .grid-text-4 {
        grid-row-start: 11;
        /* grid-row-end: 10; */
        /* grid-column-start: 7; */
        /* grid-column-end: 3; */
    }
}

@media (max-width: 920px) {
    .grid-newspaper {
        grid-template-rows: repeat(20, 50px);
    }

    .grid-text {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1280 - 320)));
    }

    .grid-img-1 {
        grid-row-end: 8;
        grid-column-end: 4;
    }
    .grid-text-1 {
        grid-column-start: 4;
    }
    .grid-text-2 {
        grid-row-start: 5;
        grid-row-end: 8;
        grid-column-start: 4;
        grid-column-end: 9;
        margin-top: -20px;
    }

    .grid-img-2 {
        grid-row-start: 8;
        grid-row-end: 11;
        grid-column-start: 1;
        height: 230px;
    }

    .grid-text-3 {
        grid-row-start: 12;
        grid-row-end: 14;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    .grid-text-4 {
        grid-row-start: 14;
        grid-row-end: 15;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .grid-img-3 {
        grid-row-start: 14;
        grid-row-end: 19;
        grid-column-start: 5;
        grid-column-end: 9;
        margin-left: 0px;
    }

    .grid-text-5 {
        grid-row-start: 20;
        grid-row-end: 20;
        grid-column-start: 1;
        grid-column-end: 9;
    }
}

@media (max-width: 768px) {
    .grid-newspaper {
        /* grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 50px; */

        display: flex;
        flex-direction: column;
    }
    .grid-text {
        /* max-width: calc(100vw - 40px);
        width: 100%; */
        font-size: 16px;
    }
    .grid-text-1 {
        order: 1;
    }
    .grid-img-1 {
        order: 2;
        margin: 0;
        margin-bottom: 20px;
    }
    .grid-text-2 {
        order: 3;
    }
    .grid-img-2 {
        order: 4;
    }
    .grid-text-3 {
        order: 5;
    }
    .grid-text-4 {
        order: 6;
    }
    .grid-text-5 {
        order: 8;
    }
    .grid-img-3 {
        order: 7;
        margin-top: 60px;
        height: 420px;
    }
    .grid-text-6 {
        order: 9;
    }

    /* .grid-img-1 {
        height: 340px;
        grid-row-start: 5;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-text-1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-text-2 {
        grid-row-start: 11;
        grid-row-end: 14;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0;
    }
    .grid-img-2 {
        grid-row-start: 18;
        grid-row-end: 22;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-text-3 {
        grid-row-start: 11;
        grid-row-end: 14;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .grid-text-4 {
        grid-row-start: 22;
        grid-row-end: 27;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-img-3 {
        grid-row-start: 26;
        grid-row-end: 32;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 40px;
    }
    .grid-text-5 {
        grid-row-start: 32;
        grid-row-end: 35;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 0;
    } */
}
